@import url("http://fonts.cdnfonts.com/css/pokemon-solid");

.container{
  width: 1340px;
  margin: 0 auto;
  position: relative;
}

.main { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
}
.imglogs{
  margin-top: 150px;
  margin-right: 200px;
}

.poster {
  margin-left: 20px;
}

.voltar {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 10px rgb(49, 102, 177) solid;
  background: #ffcc01;
  font-family: "Pokemon Solid", sans-serif;
  font-size: large;
  color: rgb(49, 102, 177);
  cursor: pointer;
  letter-spacing: 1.5px;
}

.main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entre {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  font-size: larger;
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
  background: red;
  cursor: pointer;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  font-size: larger;
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: black;
  background: white;
}
.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 47%;
  transform: translate(-50%);
  }

.pokeball {
  height: 2rem;
  margin-right: 0.25rem;
  animation: bounce 0.3s linear infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}

.pokemonlogo {
  width: 15rem;
  margin-top: -8.5rem;
}

.h1 {
  color:  #ffcc01;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-family: "Pokemon Solid", sans-serif;
  text-transform: uppercase;
  text-shadow: 0.1em 0.1em 0.1em rgb(49, 102, 177);
}
.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85%;
  margin: 0 auto;
}

.modal {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
 
  .main{
    margin-top: 300px;
  }

  .main input {
    width: 300px;
    height: 50px;
    margin: 50px;
  }
 
  .poster {
    margin-left: 20px;
    margin-top: 50px;
    
  }

  .poster img {
    width: 350px;
  }
  .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .pokeball {
    height: 2rem;
    margin-right: 0.25rem;
    animation: bounce 0.3s linear infinite alternate;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(10%);
    }
  }
  
  .pokemonlogo {
    width: 15rem;
    margin-top: -8.5rem;
  }
  
  .h1 {
    color: #f1f1f1;
    letter-spacing: 2px;
    font-size: 1.5rem;
  }
}
